.App {
  text-align: center;
}

.ui.menu {
  display: flex;
  margin: 1rem 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  background: #fff;
  font-weight: 400;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  border-radius: .28571429rem;
  min-height: 2.85714286em;
}
.ui.menu:not(.vertical) .item{
  display: flex;
  align-items: center;
}
.ui.menu .item {
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  flex: 0 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: 0 0;
  padding: .52857143em 0.54285714em;
  text-transform: none;
  color: rgba(0,0,0,.87);
  font-weight: 400;
  -webkit-transition: background .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
  -webkit-transition: background .1s ease,box-shadow .1s ease,color .1s ease;
  transition: background .1s ease,box-shadow .1s ease,color .1s ease;
}

.ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu {
  display: flex;
  margin-left: auto!important;
}

.nav-menu li{
  display: inline;
  margin: 1rem;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
}

/* Loading Image */
.margin-top-42{
  margin-top: 42px;
}
.margin-top-20{
  margin-top: 20px;
}
.margin-left-20{
  margin-left: 20px;
}

.load-img{
  width: 100%;
}

/* List */
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.social-list{
  list-style: none;
  display: inline;
}

/* Global */
body{
  background: #e6faff81;
}
ul li{
  display: inline;
}
h1{
  font-weight: 800;
  font-family: 'Consolas';
}
h2{
  font-size: 20px!important;
}
h3, p{
  margin: 0;
}
a{
  color: black;
}


/* Grid */
.ui.grid>.column:not(.row), .ui.grid>.row>.column {
  position: relative;
  display: inline-block;
  width: 50%;
  padding-left: 0rem;
  padding-right: 1rem;
  vertical-align: middle;
}

.ui.grid{
  text-align: left;
  vertical-align: middle;
  margin-left: 5px;
  padding: 10px;
}

/* Input */
.ui.input {
  position: relative;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: rgb(0, 0, 0);
}

.ui.input>input{
  border: none;
  border-radius: 2.34353rem;
  background: #6b746e;
  margin-left: 10px;
}

.desc-input{
  background: white;
  padding: 6px;
  width: 400px;
}

/* Button */
.ui.button{
  border-radius: 2rem;
}
.ui.button.subscribe{
  background: chocolate;
  margin-left: 5px;
}
.selected{
  background-color: burlywood;
  border-radius: 0.756443rem;
}

/* Requesters */
.req-img{
  width: 300px;
  height: 200px;
  margin-top: 10px;
}
.req-name{
  font-weight: 600;
  font-family: "Verdana";
}
.req-desc{
  width: 300px;
  text-align: center;
}
.req{
  display: inline-block;
  margin: 5px;
}

@media only screen and (min-width: 1200px){
  .ui.container{
    width: 100%;
  }
}

